---

---

<div class="relative w-full overflow-hidden h-[520px] md:h-[740px]">
  <div class="absolute inset-0">
    <img
      src="/public/images/image1.jpg"
      class="absolute inset-0 w-full h-full object-cover slide block mx-4 md:mx-0 rounded-lg md:rounded-none"
    />
    <img
      src="/public/images/image2.jpg"
      class="absolute inset-0 w-full h-full object-cover slide hidden mx-4 md:mx-0 rounded-lg md:rounded-none"
    />
    <img
      src="/public/images/image3.jpg"
      class="absolute inset-0 w-full h-full object-cover slide hidden mx-4 md:mx-0 rounded-lg md:rounded-none"
    />
    <img
      src="/public/images/image4.jpg"
      class="absolute inset-0 w-full h-full object-cover slide hidden mx-4 md:mx-0 rounded-lg md:rounded-none"
    />
    <img
      src="/public/images/image5.jpg"
      class="absolute inset-0 w-full h-full object-cover slide hidden rmx-4 md:mx-0 rounded-lg md:rounded-none"
    />
  </div>
  <!-- Im치genes -->

  <!-- Texto sobre las im치genes -->
  <div class="w-full max-w-[1400px] mx-auto h-full md:h-screen relative px-6">
    <h1
      class="absolute
    bottom-20
    left-1/2
    -translate-x-1/2
    w-[90%]
    text-center
    text-2xl
    font-bold
    text-gray-100
    drop-shadow-2xl
    md:bottom-72
    md:left-0
    md:translate-x-0
    md:w-1/2
    md:text-left
    md:text-5xl
    [-webkit-text-stroke:1px_black]"
    >
      Cuidamos tus prendas con el toque fresco de las flores
    </h1>
  </div>
</div>

<script>
  let current = 0;
  const slides = document.querySelectorAll(".slide");
  const total = slides.length;

  setInterval(() => {
    slides[current].classList.add("hidden");
    slides[current].classList.remove("block");
    current = (current + 1) % total;
    slides[current].classList.remove("hidden");
    slides[current].classList.add("block");
  }, 3000);
</script>
<!-- <div>
    <img src="/public/images/image1.jpg" class="slide" style="display: block;">
  <img src="/public/images/image2.jpg" class="slide" style="display: none;">
  <img src="/public/images/image3.jpg" class="slide" style="display: none;">
  <img src="/public/images/image4.jpg" class="slide" style="display: none;">
  <img src="/public/images/image5.jpg" class="slide" style="display: none;">
  </div> -->

<section class="bg-gray-100">
  <div class="container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 px-8 md:px-0 py-6 w-full max-w-[1400px] mx-auto">
    <div class="px-2 flex items-center gap-2">
      <svg
        stroke="#1e40af"
        fill="none"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        height="72"
        width="72"
        xmlns="http://www.w3.org/2000/svg"
        ><path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
          d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
          d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"></path><path
          d="M3 9l4 0"></path></svg
      >
      <div>
        <h2 class="mb-2 text-xl font-semibold text-blue-900">Delivery</h2>
        <p class="text-blue-900">
          Ofrecemos el servicio de recojo y entrega de tus prendas
        </p>
      </div>
    </div>
    <div class="px-2 flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#1e40af"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-map-2"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5"></path><path
          d="M9 4v13"></path><path d="M15 7v5.5"></path><path
          d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"
        ></path><path d="M19 18v.01"></path></svg
      >
      <div>
        <h2 class="mb-2 text-xl font-semibold text-blue-900">
          Nuestra sede principal
        </h2>
        <ul class="text-blue-900">
          <li class="">Av. El Ejercito 1196 - Puno</li>
        </ul>
      </div>
    </div>
    <div class="px-2 flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#1e40af"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-stats"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"
        ></path><path d="M18 14v4h4"></path><path
          d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path d="M15 3v4"
        ></path><path d="M7 3v4"></path><path d="M3 11h16"></path></svg
      >
      <div>
        <h2 class="mb-2 text-xl font-semibold text-blue-900">
          Horario de atenci칩n
        </h2>
        <p class="text-blue-900">Lunes - Domingos <br /> 7:00 AM - 8:00 PM</p>
      </div>
    </div>
    <div class="px-2 flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#1e40af"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-phone"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
        ></path></svg
      >
      <div>
        <h2 class="mb-2 text-xl font-semibold text-blue-900">
          Central telef칩nica
        </h2>
        <p class="text-blue-900">952053286</p>
      </div>
    </div>
  </div>
</section>
