---

---
<div class="bg-[#223983] p-4 flex justify-center">
    <div class="bg-[#80C342] h-96 pt-12 w-[1400px] h-96 rounded-[40px] my-4">
        <h2 class="text-center font-sans font-semibold text-6xl text-white">
            Calidad de <span class="text-[#223983]">nuestros servicios</span>
        </h2>
        <div class="text-[#223983] flex flex-row text-4xl gap-12 py-12 px-24 font-semibold">
            <h3 class="flex flex-col">Calidad
                <span class="text-white text-lg font-normal">Nuestra planta de lavado cuenta con la mejor maquinaria y personal con experiencia que trabajan arduamente para lograr resultados premium.</span>
            </h3>
            <h3 class="flex flex-col">Tiempo
                <span class="text-white text-lg font-normal">Estamos a sus ordenes porque cuidamos tu tiempo, se realiza entrega en menos de 5 horas</span>
            </h3>
            <h3 class="flex flex-col">Delivery
                <span class="text-white text-lg font-normal">Buscando siempre tu comodidad, ofrecemos el servicio de recojo y entrega de tus prendas.</span>
            </h3>
        </div>
    </div>
</div>
