---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body> <Header /> <main><slot /></main> </body>
  <script>
    const originalTitle = document.title;

    window.addEventListener("blur", () => {
      document.title = "😢 No te vayas... ¡vuelve!";
    });

    window.addEventListener("focus", () => {
      document.title = originalTitle;
    });
  </script>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: white;
    color-scheme: dark ligth;
  }
  body, html {
    overflow-x: hidden;
  }
</style>
